/*  Header  */
header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-size: minmax(2vw, 2rem);
  color: white;
  background-color: #f55a5a;
  margin-bottom: 5rem;
  padding: 1rem;
}

hr {
  margin: 2rem 0;
}

section {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}
